html {
    font-size: 62.5%;
    
    body {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        margin-top: 19.4rem; /* Room for the fixed heaer */
    }
}

/* Navbar settings --------------------------- */

.navbar {
    top: 0;
    height: 9.4rem;
    width: 100%;
    background-color: #0A1451;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1000;
    
    &__logo {
        position: fixed;
        justify-content: center;
        left: 2rem;
        height: 6.9rem;
        width: 12rem;
    }
    
    &__phone-icon {
        margin-left: 2rem;
        height: 4.2rem;
        width: 4rem;
    }
    
    &__link {
        color: inherit;
        text-decoration: none;
        font-size: 1.8rem;
        margin-left: 2rem;
        
        &:hover {
            text-shadow: 0px 0px 5px whitesmoke;
        }
    }
    
    &__link--contact {
        border: 1px solid white;
        padding: .3rem 2rem;
        border-radius: 25% / 100%;
        display: inline-block;
        margin-right: 2rem;
    }
}

/* Auto upholstery settings------------------- */

.auto {
    margin: 10rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__title {
        margin: 0;
        line-height: 1;
        
        &--light {
            font-size: 9rem;
            font-weight: 275;
        }
        
        &--bold {
            font-size: 7.5rem;
            font-weight: 700;
        }
    }
    
    &__description {
        font-size: 2rem;
        font-weight: 500;
    }
    
    &__button {
        height: 5.3rem;
        width: 22.9rem;
        background-color: #0A1451;
        color: white;
        border: none;
        font: inherit;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 1rem;
        cursor: pointer;
    }
    
    &__image {
        border: 1px solid black;
        height: 50.7rem;
        width: 54.7rem;
    }
}

/* Main content settings---------------------- */

.main {
    &__service {
        margin-top: 10rem;
        height: 86.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .leather-vinyl, .custom-upholstery {
        background-color: #f5f5f5;
        width: 100%;
        
        &__image {
            &--big {
                margin-left: 10rem;
                border: 1px solid black;
                height: 55.5rem;
                width: 49.3rem;
            }
            
            &--small {
                border: 1px solid black;
                height: 22.2rem;
                width: 16.6rem;
            }
        }
        
        &__content {
            display: flex;
            flex-direction: column;
            margin-left: 10rem;
            margin-right: 20rem;
            justify-content: space-between;
        }
        
        &__title {
            font-size: 2.8rem;
            font-weight: 700;
        }
        
        &__description {
            font-size: 2rem;
            font-weight: 500;
        }
        
        &__image-collage {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .headliners {
        background-color: #ffffff;
        width: 100%;
        flex-direction: row-reverse;
        
        &__content {
            margin-left: 10rem;
            margin-right: 20rem;
        }
        
        &__title {
            font-size: 2.8rem;
            font-weight: 700rem;
        }
        
        &__description {
            font-size: 2rem;
            font-weight: 500;
        }
        
        &__image-collage {
            display: flex;
            justify-content: space-between;
        }
        
        &__image {
            &--big {
                margin-right: 10rem;
                border: 1px solid black;
                height: 51.4rem;
                width: 45.7rem;
            }
            
            &--small {
                border: 1px solid black;
                height: 22.2rem;
                width: 16.6rem;
            }
        }
    }
}

/* Footer settings---------------------------- */

.footer {
    background-color: #0A1451;
    color: white;
    height: 69.6rem;
    font-family: 'Inter', sans-serif;
    
    &__columns {
        display: flex;
        justify-content: space-between;
        padding-top: 10rem;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 10rem;
    }
    
    .contact {
        &__logo {
            height: 8.6rem;
            width: 15rem;
        }
        
        &__title {
            font-size: 2.4rem;
            font-weight: 800;
            margin-bottom: 5rem;
        }
    }
    
    .footer__contact {
        &--location, &--phone {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;
        }
    }
    
    .location {
        &__icon {
            height: 3.555rem;
            width: 3.251rem;
        }
        
        &__address {
            font-size: 2rem;
            font-weight: 400;
        }
    }
    
    .phone {
        &__icon {
            height: 3.16rem;
            width: 2.89rem;
        }
        
        &__number {
            font-size: 2rem;
            font-weight: 400;
        }
    }
    
    &__quick-links {
        display: flex;
        flex-direction: column;
    }
    
    .quick-links {
        &__title {
            font-size: 2.4rem;
            font-weight: 800;
        }
        
        &__link {
            color: inherit;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 400;
            margin: 1.5rem;
            
            &:hover {
                text-shadow: 0px 0px 5px whitesmoke;
            }
        }
    }
    
    .hours {
        &__title {
            font-size: 2.4rem;
            font-weight: 800;
        }
        
        &__table {
            font-size: 2rem;
            font-weight: 400;
            border-spacing: 0 1.5rem;
            
            & td {
                padding: 0;
                
                &:nth-child(2) {
                    padding-left: 5rem;
                }
            }
        }
    }
    
    &__copyright {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
    }
}